<div id="document_one">
    <tr class="mengban_open_tr mengban_open_return">
        <th><img src="/static/res/document.png"></th>
        <td class="mengban_open_td">../</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for x in list %}
        <tr class="mengban_open_tr">
            <th><img src="/static/res/document.png"></th>
            <td class="mengban_open_td">{{ x }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</div>